.div{
    display: inline-block;
   
}

#div1{
    padding: 50px;
}
#div2{
    margin-left: 500px;
    /* margin-bottom: -319px; */
    margin-top: -170px;
}
#div3{
    margin-left: 950px;
    margin-top: -110px;
    
}


