.App2 {
    text-align: center;
    display:block;
    background-color:rgb(241, 234, 234);
    width: 500px;
    margin-left: 400px;
    
  }
  #b{
    background-color:rgb(163, 78, 78);
    height: 50px;
  
}